<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='main.css') }}">
</head>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Model Type</th>
            <th>Serial Number</th>
            <th>Code Version</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>R3</td>
            <td>WS-C3560G-24TS</td>
            <td>FOC1030Y265</td>
            <td style="background:yellow;">12.2(55)SE3</td>
        </tr>
    </tbody>
</table>

</body>
</html>
